<!--

Purpose: This include file shows how to add event handlers 

To enable this, rename this file so that it has a ".config" extension and 
replace the "type" and "method" attributes below with your own values

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:moving">
        <handler type="Training.code.InsertOptionMovingRestriction, Training" method="OnMoving"/>
      </event>
    </events>
  </sitecore>
</configuration>
